name: List of Actions to Monitor
permissions:
  contents: read
  pull-requests: write

# INSTRUCTIONS:
## ADD your actions to the list below
## REMOVE any existing actions you don't want to monitor


on:
  workflow_dispatch:

jobs:

  run_update_notifier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Checkout

      - name: Cache Python environment
        id: cache-python-env
        uses: actions/cache@v5
        with:
          path: ~/.venv
          key: ${{ runner.os }}-notifier-python
          restore-keys: ${{ runner.os }}-notifier-python-

      - name: Setup Python
        if: steps.cache-python-env.outputs.cache-hit != 'true'
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: 'typescript'

      - name: create issue 0
        id: wr0
        if: ${{ env.RESULTFOUND0 > 0 }}
        uses: dacbd/create-issue-action@v2
        with:
          token: ${{ github.token }}
          title: Test
          body: |
            Test
      - name: update issue 0
        if: ${{ env.RESULTFOUND0 > 0 }}
        uses: julien-deramond/update-issue-body@v1
        with:
          issue-number: ${{ steps.wr0.outputs.number }}
          body: |
            test
          edit-mode: replace

      - name: Upload JSON file
        uses: actions/upload-artifact@v6
        with:
          name: readme
          path: README.md


      - name: Get Artifact
        uses: actions/download-artifact@v7
        with:
          name: env-vars
